/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.fpic{
    max-width: 100px;
    height: auto;
    /* object-fit: cover; */
}
.ppic{
    max-width: 100px;
    height: auto;
    /* object-fit: cover; */
}
.toppic{
  display: block;
  max-height: 80px;
}
.mypage-dropdown {
    display: none;
    position: absolute;
    top: 100px;
    right: 0;
    background-color: #fff;
    padding: 26px;
    border: 1px solid #ccc;
    z-index: 999;
}
.btn-drop{
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  height: 100px;
  width:150px;
}
.header_name{
  display: block;
}

.mypage-btn-container {
    position: relative;
}

.mypage-btn-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

  .mypage-dropdown a {
    color: #5c3e26;
    text-decoration: none;
  }

  .mypage-dropdown a:hover {
    color: #8b5c38;
  }

  .category-container:hover {
    cursor: pointer;
  }

  .index-table{
  width: 80%;
  text-align: center;
}
